html {
  background-color: #212142;
  font-size: 10px; /*this is how you add comments in CSS*/
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
}

h1 {
  font-size: 60px;
  text-align: center;
  background-color: #212142;
  width: 470px;
}

body {
  width: 600px;
  margin: 20px auto;
  background-color:#422163;
  padding: 2px 20px 20px 20px;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

a {
  color: #DBE0E3;
}
